<footer class="footer bg-light py-3 mt-auto">
  <div class="container">
    <p class="text-muted">
      This web application was created to fulfill Web Technology module’s
      requirements and does not represent an actual company or service
    </p>
    <span class="text-muted">ToDos</span>
  </div>
</footer>
