<nav class="navbar navbar-light bg-light mx-3 navbar-nav">
  <div class="d-flex justify-content-evenly flex-row">
    <a class="navbar-brand" href="/">Jobs</a>

    <a class="nav-item nav-link active mx-4" href="/jobs">Jobs</a>
    <a class="nav-item nav-link mx-4" href="/jobs/create">New Job</a>
  </div>
</nav>
